@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --accent-blue: #BE3455;
  --accent-dark: #c6d1dd;
  --text-clr: hsl(200, 11%, 5%);
  --space-025: 0.25rem;
  --space-05: 0.5rem;
  --space-075: 0.75rem;
  --space-1: 1rem;
  --space-125: 1.25rem;
  --space-15: 1.5rem;
  --space-2: 2rem;
  --width-max: 50rem;
  --width-min: 22.5rem;
  --fullSize: 100%;
  --fullHeight: 100vh;
  --flex-flow: 38rem;
  --padding--flow: calc(var(--fullSize) - var(--space-2));
  --theme-bg-color: rgba(16 18 27 / 40%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 8px;
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  display: flex;
  min-block-size: 40vh;
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #000000;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
}

.user_img {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_img::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border-radius: 50%;
  background: linear-gradient(45deg, deeppink, deepskyblue);
  box-shadow: 0px 0px 18px -6px #fff200;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user_img img {
  border-radius: 50%;
  z-index: 1;
}

.user_details {
  display: flex;
  position: relative;
  top: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  text-align: center;
  color: #ffffff;
}

.user_details h5 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
}

.user_details span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
}

.user_details p {
  margin: 12px 12px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

hr {
  width: 100%;
  border: 1px solid darkgray;
  background: darkgray;
  margin-bottom: 25px;
}

.user_details a {
  text-decoration: none;
  background: linear-gradient(45deg, #ff00cc, #333399);
  color: white;
  padding: 10px 30px;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  box-shadow: 0px 6px 22px -6px gray;
  transition: 0.3s ease-in-out;
}

.user_details a:hover {
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.card {
  width: 892px;
  height: auto;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.card .left {
  width: 480px;
  height: 553px;
  background: #cc3843;
  border-radius: 23px;
  display: flex;
  align-items: center;
}

.card .left .wordmark {
  opacity: 0.2;
  transform: rotate(-90deg) scale(1.2);
  margin-left: -70px;
}

.card .right {
  width: 654px;
  height: 479px;
  background: #0c1f2c;
  position: absolute;
  left: -10%;
  transform: translateX(50%);
  border-radius: 23px;
}

.card .right .bimestre {
  position: absolute;
  top: 50%;
  transform: translate(-30%, -50%);
}

.card .right .boletim {
  width: 300px;
  height: 300px;
  margin: 25px 0 0 235px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.card .right .boletim h1 {
  font-weight: 800;
  line-height: 46px;
  font-size: 39px;
  margin-bottom: 5px;
}

.card .right .boletim h2 {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.card .right .boletim .details {
  height: 290px;
}

.card .right .boletim .details .notas,
.card .right .boletim .details .frequencia {
  width: 50%;
  float: left;
}

.card .right .boletim .details .notas {
  border-right: 1px solid #cb1f40;
}

.card .right .boletim .details .frequencia {
  text-align: center;
}

.card .right .boletim .details .frequencia h4 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.card .right .boletim button {
  height: 48px;
  background: #cb2140;
  border-radius: 90px;
  font-weight: 300;
  line-height: 35px;
  font-size: 14px;
  padding: 0 24px;
  color: #fff;
  margin-left: 20px;
}

.card .right .boletim i.fav {
    font-size: 12px;
    margin: 0 12px 0 24px;
    color: #cb2140;
}

.card .right .boletim a {
    font-size: 12px;
    color: #fff;
    opacity: 0.3;
    text-decoration: none;
}

.card .right .boletim h3 {
  width: 80px;
  height: 80px;
  font-weight: 300;
  line-height: 80px;
  font-size: 16px;
  margin-left: 30px;
  position: relative;
}

.card .right .boletim h3:after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #cb1f40;
  transform: rotate(-45deg) translate(-52%, -53%);
  position: absolute;
}

.card .right .boletim h4 {
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 3px;
}

.card .right .boletim p {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.3s linear;
  border: 1px solid transparent;
  cursor: pointer;
}

.card .right .boletim p:hover {
  border: 1px solid #cb1f40;
}

.card .right .boletim p:nth-of-type(4n) {
  border: 1px solid #cb1f40;
}

@media screen and (max-width: 576px) {
  .card {
    transform: rotate(90deg) scale(0.7) translate(calc(50% - 25vh), 50%);
    position: absolute;
    top: 27%;
    left: 5%;

  }
}